@{
    ViewData["Title"] = "Home Page";
}
 <div class="container">
<div class="container imgp border-bottom-color p-5  text-white rounded back" >
   "Hola Mundo"/5
    <div> <h1>Herreria en General</h1>
    <h2>Todo los trabajos</h2></div>
   
     
</div>
<div class="container imgp border-bottom-color p-5  text-white rounded back2"> 
    
</div>
<div class="container imgp  p-5  text-white rounded back3"> 
    
</div>

 </div>
